@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-primary: #5f6fff;
    
}
*{
    font-family: Outfit;
}

.bg-primary {
    background-color: var(--color-primary);
}

.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}