@import "tailwindcss";


:root {
    --color-primary: #5f6fff;
    
}

.bg-primary {
    background-color: var(--color-primary);
}

.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}